@import './responsive';
@import './variables';
@import './components';
@import './diary';
@import './menu';
@import './report';

/* Import Google font - Poppins */

@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

body {
    height: 100vh;
    overflow: hidden;
    font-weight: weight(bold);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
    color: set-text-color($filter-color);
    background: linear-gradient(to bottom, rgba($blue1, 0.5), rgba($blue2, 0.5), rgba($blue3, 0.5), rgba($blue4, 0.5), rgba($blue5, 0.5));
    //background: linear-gradient(to right, rgba($primary-color, 0.5), rgba($orange-color, 0.5));
    background-size: cover;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main {
    height: 100%;
    width: 100%;
    position: relative;
}

footer {
    font-size: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    z-index: 2;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 1;
    visibility: hidden;
    &.open {
        visibility: visible;
    }
    .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100vh;
        width: 100%;
        background: $blue2;
        list-style-type: none;
        padding-right: 1rem;
        transform: translateY(-100%);
        transition-duration: 0.3s;
        &.open {
            transform: translateY(0);
        }
        &__item {
            transform: translateX(100vw);
            &.open {
                transform: translateX(0);
                transition-duration: 1s;
            }
            & .active>a {
                color: $purple-color;
            }
        }
        &__link {
            color: $blue1;
            display: inline-block;
            font-size: 2rem;
            padding: 2rem 0;
            font-weight: 300;
            &:hover {
                color: $purple-color;
            }
        }
    }
}

.menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 15px;
    width: 28px;
    cursor: pointer;
    &__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 90%;
        height: 2px;
        background: $blue1;
        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 90%;
            height: 2px;
            background: $blue1;
        }
        &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 100%;
            height: 2px;
            background: $blue1;
        }
        &.open {
            @include transition-ease;
            transform: rotate(180deg);
            background: transparent;
            &::before {
                width: 20px;
                transform: rotate(45deg) translate(5px, 8px);
                @include transition-ease;
            }
            &::after {
                width: 20px;
                transform: rotate(-45deg) translate(3px, -7px);
                @include transition-ease;
            }
        }
    }
}

.home {
    height: 100%;
    width: 100%;
    padding-top: 45vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient( to right, rgba($filter-color, 0.4), rgba($filter-color, 0.2)), url('../../HealthBuddy/Images/bg4.jpeg') center top;
    background-size: cover;
    .explore_link {
        a {
            color: $secondary-color;
            font-weight: 400;
        }
    }
    .box_wrapper {
        @include flexCenter(row);
        display: flex;
        margin: 50px 0;
    }
    .box {
        width: 33.3%;
        height: 100%;
        background-color: transparent;
        font-weight: 500;
    }
    @include media(mobile) {
        h2 {
            font-size: 1.7rem;
        }
        .explore_link {
            font-size: 1rem;
        }
        .box_wrapper {
            width: 60%;
            min-width: 350px;
            font-size: 0.8rem;
        }
    }
    @include media(tablet,
    desktop) {
        h2 {
            font-size: 2.5rem;
        }
        .explore_link {
            font-size: 1.5rem;
        }
        .box_wrapper {
            width: 600px;
            font-size: 1.2rem;
        }
    }
}

.login-page {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: linear-gradient( to right, rgba($filter-color, 0.4), rgba($filter-color, 0.2)), url('../../HealthBuddy/Images/bg2.jpeg') center top;
    background-size: cover;
    @include flexCenter(column);
    h2 {
        font-size: 3rem;
        margin-bottom: 100px;
    }
    .err-msg {
        margin-bottom: 20px;
        color: #e9e7e7;
    }
    form {
        width: 80%;
        min-width: 260px;
        max-width: 600px;
    }
    .submit-btn {
        @include button($blue1,
        white,
        $size-s);
        margin: 10px 0 20px 0;
    }
    a {
        color: $primary-color;
        font-size: 1rem;
        margin-top: 8px;
        font-weight: 500;
    }
}

.light {
    @include theme($light-theme: true);
}

@include media(tablet,
desktop) {
    .menu-btn {
        visibility: hidden;
    }
    .nav {
        visibility: visible;
        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;
            &__item {
                display: inline;
                padding-right: 1.5rem;
            }
            &__link {
                font-size: 1.5rem;
            }
        }
    }
}