@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@function weight($weight-name) {
    @return map-get($font-weights,
    $weight-name);
}

@function set-text-color($color) {
    @if(lightness($color)>40%) {
        @return black;
    }
    @else {
        @return white;
    }
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($filter-color, 100%);
        color: darken($secondary-color, 100%)
    }
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction
}

@mixin button($bg-color,
$color,
$size) {
    background-color: $bg-color;
    color: $color;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    @if $size==$size-s {
        width: 120px;
        height: 32px;
    }
    @else if $size==$size-m {
        width: 120px;
        height: 50px;
    }
}