$font-weights: ( "regular": 400, "medium": 500, "bold": 700);
$filter-color: rgb(75, 75, 99);
$primary-color: #17E9E0;
$secondary-color: #F5E6CC;
$purple-color: #A64AC9;
$orange-color: #FFB48F;
$yellow-color: #FCCD04;
$green-color: #41B3A3;
$blue1: #5680E9;
$blue2: #84CEEB;
$blue3: #5AB9EA;
$blue4: #41B3A3;
$blue5: #C1C8E4;
$size-s: 0;
$size-m: 1;
$size-l: 2;