@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.diary_wrapper {
  height: 100%;
  overflow: scroll;
  display: flex;
  padding-top: 20vh;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 0px) {
  .diary_wrapper .calender,
  .diary_wrapper .diary {
    width: 350px;
  }
  .diary_wrapper .calender__body,
  .diary_wrapper .diary__body {
    padding: 20px 30px;
  }
}
@media (min-width: 800px) {
  .diary_wrapper .calender,
  .diary_wrapper .diary {
    width: 500px;
  }
  .diary_wrapper .calender__body,
  .diary_wrapper .diary__body {
    padding: 25px 30px;
  }
}
@media (min-width: 1200px) {
  .diary_wrapper .calender,
  .diary_wrapper .diary {
    width: 600px;
  }
  .diary_wrapper .calender__body,
  .diary_wrapper .diary__body {
    padding: 35px 30px;
  }
}

.calender {
  z-index: 0;
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
.calender__header {
  background-color: #A64AC9;
  position: relative;
  width: inherit;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calender__header .icons {
  cursor: pointer;
  display: flex;
  margin-right: 10px;
  height: 100%;
}
.calender__header .current-date {
  font-size: 1.5rem;
  margin-left: 20px;
  font-weight: 500;
}
.calender__body {
  padding: 20px;
}
.calender__body ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calender__body li {
  color: #333;
  width: 14.2857142857%;
  font-size: 1.07rem;
}
.calender__body .weeks li {
  font-weight: 500;
  cursor: default;
}
.calender__body .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.calender__body .days li.active {
  color: #5AB9EA;
}
.calender__body .days li.inactive {
  color: #aaa;
}
.calender__body .days li.inactive :hover::before {
  background: #f2f2f2;
}
.calender__body .days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.diary {
  z-index: 0;
  margin-top: 20px;
  width: 450px;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
.diary input[type=text] {
  width: 300px;
}
.diary input[type=number] {
  width: 50px;
}
.diary__header {
  background-color: #A64AC9;
  position: relative;
  width: inherit;
  height: 20px;
  display: flex;
  padding: 25px 30px 10px;
  align-items: center;
  justify-content: space-between;
}
.diary__header-button {
  cursor: pointer;
}
.diary__body {
  display: flex;
  flex-direction: column;
}
.diary__body-summary {
  font-size: 1rem;
  color: black;
}
.diary__body-portions {
  font-size: 0.9rem;
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;
  color: rgb(84, 84, 84);
}
.diary__body-portions span {
  margin: 5px 5px 0 0;
}
.diary__body-diary {
  color: rgb(133, 133, 133);
  margin: 5px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.menu {
  min-width: 350px;
  position: relative;
  height: 100%;
  width: 100%;
  position: relative;
}
.menu-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
}
.menu-page-item {
  background-color: #5AB9EA;
  color: white;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 32px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}
.menu-page-item a {
  color: white;
}
.menu-page-item:hover {
  color: #5680E9;
  text-decoration: none;
}
@media (min-width: 0px) {
  .menu {
    padding: 0 4%;
  }
  .menu_search, .menu_create, .menu_list {
    width: 92%;
  }
  .menu_list {
    font-size: 0.9rem;
    grid-auto-rows: 30px;
  }
  .menu_item {
    height: 40px;
    padding: 5px 30px;
  }
}
@media (min-width: 800px) {
  .menu {
    padding: 0 20%;
  }
  .menu_search, .menu_create, .menu_list {
    width: 60%;
  }
  .menu_list {
    font-size: 1rem;
    grid-auto-rows: 50px;
  }
  .menu_item {
    height: 50px;
    padding: 2px 30px;
  }
}
@media (min-width: 1200px) {
  .menu {
    padding: 0 20%;
  }
  .menu_search, .menu_create, .menu_list {
    width: 60%;
  }
  .menu_list {
    font-size: 1rem;
    grid-auto-rows: 50px;
  }
  .menu_item {
    height: 50px;
    padding: 2px 30px;
  }
}
.menu_search {
  position: absolute;
  height: 50px;
  top: 120px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}
.menu_search input {
  border: none;
}
.menu_search input:focus {
  border: none;
  outline: 0 none;
  box-shadow: none;
}
.menu_search_input {
  width: calc(75% - 20px);
  margin-left: 20px;
}
.menu_search_dropdown {
  width: 15%;
  border: none;
  cursor: pointer;
}
.menu_search_btn {
  background-color: #5680E9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  cursor: pointer;
}
.menu_create {
  position: absolute;
  min-height: 80px;
  top: 200px;
  display: flex;
  overflow: hidden;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  color: #5680E9;
}
.menu_create_name, .menu_create_cal {
  display: flex;
  flex-direction: column;
}
.menu_create_name input, .menu_create_cal input {
  height: 30px;
  border: #5680E9 solid 1px;
  border-radius: 10px;
}
.menu_create_category {
  display: flex;
  flex-direction: column;
}
.menu_create_category select {
  height: 30px;
  width: 160px;
  border-radius: 10px;
  border: #5680E9 solid 1px;
  cursor: pointer;
}
.menu_create_btn {
  position: relative;
  height: 50px;
}
.menu_create_btn input {
  position: absolute;
  top: 20px;
  background-color: #5680E9;
  color: white;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 32px;
  width: 100%;
}
@media (min-width: 0px) {
  .menu_create_name, .menu_create_cal, .menu_create_category {
    width: 30%;
    font-size: 0.6rem;
  }
  .menu_create_name input, .menu_create_cal input, .menu_create_category input {
    width: 80%;
  }
  .menu_create_name select, .menu_create_cal select, .menu_create_category select {
    width: 80%;
  }
  .menu_create_btn {
    font-size: 0.6rem;
    width: 10%;
    margin-bottom: 5px;
  }
}
@media (min-width: 800px) {
  .menu_create_name, .menu_create_cal, .menu_create_category {
    width: 150px;
    font-size: 0.8rem;
  }
  .menu_create_name input, .menu_create_cal input, .menu_create_category input {
    width: 100px;
  }
  .menu_create_name select, .menu_create_cal select, .menu_create_category select {
    width: 100px;
  }
  .menu_create_btn {
    font-size: 0.8rem;
    width: 100px;
  }
}
@media (min-width: 1200px) {
  .menu_create_name, .menu_create_cal, .menu_create_category {
    width: 200px;
    font-size: 1rem;
  }
  .menu_create_name input, .menu_create_cal input, .menu_create_category input {
    width: 150px;
  }
  .menu_create_name select, .menu_create_cal select, .menu_create_category select {
    width: 150px;
  }
  .menu_create_btn {
    font-size: 1rem;
    width: 150px;
  }
}
.menu_list {
  position: absolute;
  height: calc(100vh - 300px);
  top: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 1rem;
  overflow: scroll;
}
@media (min-width: 0px) {
  .menu_list {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 800px) {
  .menu_list {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  .menu_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.menu_item {
  background-color: #fffefe;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  position: relative;
}
.menu_item span:first-child {
  width: 40%;
}
.menu_item span:nth-child(2) {
  width: 40%;
}
.menu_item span:nth-child(3) {
  width: 20%;
}
.menu_item i {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  color: #5AB9EA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.report {
  position: absolute;
  height: calc(100% - 100px);
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
@media (min-width: 0px) {
  .report {
    padding: 0 5%;
    font-size: 0.8rem;
  }
}
@media (min-width: 800px) {
  .report {
    padding: 0 20%;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .report {
    padding: 0 20%;
    font-size: 1rem;
  }
}
.report .health_report {
  background-color: #fffefe;
  max-width: 1200px;
  min-width: 350px;
  width: 100%;
  padding: 20px 20px;
  border-radius: 20px;
  margin-bottom: 50px;
  font-weight: 300;
  color: #84CEEB;
}
.report .health_report h4 {
  margin-bottom: 20px;
  font-weight: 400;
  color: #5680E9;
}
@media (min-width: 0px) {
  .report .health_report h4 {
    font-size: 1.2rem;
  }
}
@media (min-width: 800px) {
  .report .health_report h4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .report .health_report h4 {
    font-size: 1.5rem;
  }
}
.report .health_report button {
  background-color: #84CEEB;
  color: white;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 32px;
  width: 50px;
  height: 22px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.report .health_report input {
  height: 25px;
  width: 80px;
  margin-left: 10px;
  border: 1px #84CEEB solid;
  border-radius: 10px;
}
.report .health_report span {
  color: #5AB9EA;
}
.report .chart_container {
  margin-bottom: 100px;
  width: 100%;
  min-width: 350px;
  max-width: 800px;
}
.report .chart_container canvas {
  margin-bottom: 50px;
}

/* Import Google font - Poppins */
body {
  height: 100vh;
  overflow: hidden;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1;
  color: white;
  background: linear-gradient(to bottom, rgba(86, 128, 233, 0.5), rgba(132, 206, 235, 0.5), rgba(90, 185, 234, 0.5), rgba(65, 179, 163, 0.5), rgba(193, 200, 228, 0.5));
  background-size: cover;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
  position: relative;
}

footer {
  font-size: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  z-index: 2;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 1;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: #84CEEB;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition-duration: 0.3s;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
}
.nav .menu-nav__item.open {
  transform: translateX(0);
  transition-duration: 1s;
}
.nav .menu-nav__item .active > a {
  color: #A64AC9;
}
.nav .menu-nav__link {
  color: #5680E9;
  display: inline-block;
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: 300;
}
.nav .menu-nav__link:hover {
  color: #A64AC9;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 15px;
  width: 28px;
  cursor: pointer;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 90%;
  height: 2px;
  background: #5680E9;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 90%;
  height: 2px;
  background: #5680E9;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 100%;
  height: 2px;
  background: #5680E9;
}
.menu-btn__burger.open {
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  width: 20px;
  transform: rotate(45deg) translate(5px, 8px);
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger.open::after {
  width: 20px;
  transform: rotate(-45deg) translate(3px, -7px);
  transition: all 0.3s ease-in-out;
}

.home {
  height: 100%;
  width: 100%;
  padding-top: 45vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgba(75, 75, 99, 0.4), rgba(75, 75, 99, 0.2)), url("../../HealthBuddy/Images/bg4.jpeg") center top;
  background-size: cover;
}
.home .explore_link a {
  color: #F5E6CC;
  font-weight: 400;
}
.home .box_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 50px 0;
}
.home .box {
  width: 33.3%;
  height: 100%;
  background-color: transparent;
  font-weight: 500;
}
@media (min-width: 0px) {
  .home h2 {
    font-size: 1.7rem;
  }
  .home .explore_link {
    font-size: 1rem;
  }
  .home .box_wrapper {
    width: 60%;
    min-width: 350px;
    font-size: 0.8rem;
  }
}
@media (min-width: 800px) {
  .home h2 {
    font-size: 2.5rem;
  }
  .home .explore_link {
    font-size: 1.5rem;
  }
  .home .box_wrapper {
    width: 600px;
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .home h2 {
    font-size: 2.5rem;
  }
  .home .explore_link {
    font-size: 1.5rem;
  }
  .home .box_wrapper {
    width: 600px;
    font-size: 1.2rem;
  }
}

.login-page {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(75, 75, 99, 0.4), rgba(75, 75, 99, 0.2)), url("../../HealthBuddy/Images/bg2.jpeg") center top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-page h2 {
  font-size: 3rem;
  margin-bottom: 100px;
}
.login-page .err-msg {
  margin-bottom: 20px;
  color: #e9e7e7;
}
.login-page form {
  width: 80%;
  min-width: 260px;
  max-width: 600px;
}
.login-page .submit-btn {
  background-color: #5680E9;
  color: white;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 32px;
  margin: 10px 0 20px 0;
}
.login-page a {
  color: #17E9E0;
  font-size: 1rem;
  margin-top: 8px;
  font-weight: 500;
}

.light {
  background: white;
  color: black;
}

@media (min-width: 800px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */